*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    width: 100%;
    height: 100vh;
    background-color: rgb(225, 235, 243); 
}

#working-area{
    margin: 0 auto;
    width: 85%;
    height: 100vh; 
    max-width: 1600px;
    background-color: #a4d3d9a1;
}

#nav{ 
   border: 1px solid black;
}

#nav img{
    margin: 1.5em;
}

#nav > ul{
    background-color: aqua;
    margin: 1.7vw;
    padding: 0;
}
#nav ul{
    list-style: none;
    position: relative;
    float: right;
    display: block;

}
#nav ul a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    padding: 0 15px;
    font-weight: bold;
    display: block;
    /* border: 2px solid black; */
}

#nav ul li{
    float: left;
    position: relative;
    margin: 7px 7px;
    padding: 0;
}

#nav ul ul{
    position: absolute;
    background-color: aquamarine;
    top: 100%;
    left: 0;
    right: 5px;
    width: 230px;
    display: none;
    border: 1px solid transparent;
    background: #a4d3d9fa;
    border-radius: 4px;

}

#nav ul li:hover{ 
    background: aqua;
    border: 1px solid aqua;
}

#nav ul li:hover >ul{
    display: flex;
    flex-direction: column;
}

#nav ul ul:hover{ 
    border-top: 1px solid orangered;
}

#nav a:hover{
    color: orangered;
}

#section{
    display: flex;
    justify-content: space-between;
}

#maintext{
    width: 37%;
    height: 400px;
    /* border: 2px solid black; */
    margin: 300px 0;
}

#mainimage{
    width: 30%;
    height: 400px;
    /* border: 2px solid black; */
    margin: 300px 0;
}

.largetext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.1em;
    font-weight: 700;
    margin-left: 5px;
}

.largetext span{
    line-height: 1.3;
}

#maintext p{
    line-height: 1.8;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

#mainimage img{
    position: relative;
    bottom: 120px;
    right: 170px;
    width: 590px;
}